* {
    box-sizing: border-box; 
}

body {
    background: #FEFBEB;
    font-family: 'Poppins', sans-serif;
}  

.navbar {
    background-color: rgba(242, 218, 96, 0.9)!important;
    height: auto;  
}

.signature {
    height: 85px;  
}

.container-fluid {
    position: relative; 
}

.card-img-top {
    opacity: 0.8; 
    width: 100%; 
}

.card {
    border: 2px groove darkgrey;
}

.card:hover {
    cursor:pointer; 
}

.card-img-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: auto;
    width: auto; */
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(242, 218, 96, 0.9);
}

.card-img-overlay:hover {
    opacity: 1;
    /* height: auto;
    width: auto; */
}

.card-title {
    font-size: 28px; 
    text-align: center; 
}

.project-link {
    text-decoration: none; 
    color: black;
}

.project-link:hover {
    cursor: pointer;
    text-decoration: none;  
    color: darkgray;
}

.card-subtitle {
    font-size: 18px; 
    text-align: center;
    color: green;
}

.text-muted {
    color: black!important; 
}

.icon {
    height: 40px;
    width: 40px;
}

.link-right {
    font-size: 20px; 
    float: right!important; 
}

.about-wrapper {
    height: auto;
    max-width: 960px;
    /* border: 2px solid #444; */
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    padding-bottom: 20px;
}

.cartoon-me {
  width: 225px;
  float: left;
  margin: 10px 15px 10px 10px; 
}

.about-wrapper p {
    line-height: normal;
    padding: 15px;
}

.about-wrapper p a {
    text-decoration: none;
    color: darkgrey;
}

.about-wrapper p a:hover {
    color: #222;
}

@media only screen and (max-width: 938px) and (min-width: 575px) {
    .card-title {
        font-size: 15px; 
    }

    .card-subtitle {
        font-size: 12px; 
    }

    .icon-portfolio {
        height: 30px;
        width: 30px;
    }

}

/* @media only screen and (min-width: 575px) {
    .card-title {
        font-size: 28px; 
    }

    .card-subtitle {
        font-size: 18px; 
    }
} */