* {
    box-sizing: border-box; 
}

body {
    background:#E5D45C;
    font-family: 'Poppins', sans-serif;
}  

.navbar {
    background-color: rgba(242, 242, 242, 0.5)!important;
    height: 95px; 
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 40px; 
}

.container-fluid {
    position: relative; 
}

img {
    display: block; 
    opacity: 0.8; 
}

.card:hover {
    cursor:pointer; 
}

.card-img-overlay {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#FFF6B4;
}

.card-img-overlay:hover {
    opacity: 1;
}

/* .card-img-overlay:hover .card-title {
    
} */

.card-title {
    font-size: 28px; 
    text-align: center;  
}

.card-subtitle {
    margin-top: 20px; 
    font-size: 18px; 
    text-align: center; 
}

.text-muted {
    color: black!important; 
}
/* 
.btn-primary {
   top: 20px;  
} */