* {
    box-sizing: border-box; 
}

.container-fluid {
    position: relative; 
}

img {
    display: block; 
}

/* #name-header {
    align-self: center!important; 
} */

.card:hover {
    cursor:pointer; 
}

.card-img-overlay {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.card-img-overlay:hover {
    opacity: 1;
}

/* .card-img-overlay:hover .card-title {
    
} */

.card-title {
    font-size: 28px; 
    text-align: center;  
}

.card-subtitle {
    margin-top: 20px; 
    font-size: 18px; 
    text-align: center; 
}
/* 
.btn-primary {
   top: 20px;  
} */